@import "../../styles/common";

.container{
  height: 100%;
}

.header{
  height:@headerHeight;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0 20px 0 120px;
  background-color: rgb(38,47,62);
  color:#fff;
}

.menu_item{
  height: @headerHeight;
  .flex_center();
  margin-left: -1px;
  padding: 0 20px;
  &:first-child{
    margin-left: 0;
  }
  cursor: pointer;
  &:hover{
    background-color: rgb(52,66,88);
  }

  &.active{
    background-color: @activeColor;
  }
}
